/**
 * @brief Styles for CaMykS message page.
 * @details Engine / Layout
 * @author CaMykS Team <CaMykS.contact@gmail.com>
 * @version 1.0.0
 * @date Creation: Mar 2020
 * @date Modification: Mar 2020
 * @copyright 2020 CaMykS Team
 * @note This program is distributed as is - WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 */

* {font-family : Arial, Verdana, Helvetica; font-size : 14px; font-weight : normal; font-style : normal; color : #333333; padding : 0; margin : 0; box-sizing:border-box;}
body {background: #DFDEEE;}
p {padding:4px; word-wrap : break-word;}
a {font-weight:bold; color:#666686;}
img {max-width:100%;}
#PageMain {margin: 0 auto; width:1000px; max-width:100%; padding:0 40px;}
#PageHeader {width:400px; max-width:100%; margin: 100px auto 60px;}
#PageContent {padding: 12px 8px;}
#PageContent * {text-align:center;}
#PageFooter {position:fixed; bottom:0; right:0; padding: 4px;}
h1 {font-size:36px; text-transform:uppercase; color:#666686; margin-bottom:20px;}
.purple {color:#666686;}
.button {background:#666686; padding:8px 40px; text-transform:uppercase; color:#DFDEEE; border-radius:20px; text-decoration:none; transition:all linear 0.3s;}
.button:hover {opacity:0.8;}

@media screen and (max-width: 700px) {
    * {font-size:12px;}
    h1 {font-size:24px;}
    #PageHeader {margin: 40px auto 30px;}—
}
